<h1 id="tableLabel">Edgar Company Funding</h1>
<h2 [textContent]="author"></h2>
<h2><input type="text" [(ngModel)]="search" placeholder="Enter some or all of company name" /><button (click)='filter()'>Search by Name</button></h2>



<p *ngIf="!companies"><em>Loading... Please refresh after a few seconds. See <a href="https://aka.ms/jspsintegrationangular">https://aka.ms/jspsintegrationangular</a> for more details.</em></p>

<table *ngIf="companies">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Standard Fundable Amount</th>
            <th>Special Fundable Amount</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let company of companies">
            <td>{{ company.id }}</td>
            <td>{{ company.name }}</td>
            <td>{{ company.standardFundableAmount }}</td>
            <td>{{ company.specialFundableAmount }}</td>
        </tr>
    </tbody>
</table>
