:host {
    max-width: 1280px;
    padding: 2rem;
    text-align: center;
}

#headingDiv {
    width:100%;

}

#searchInput {
    width: auto;
    min-width:300px;
    text-align:center;
}

#authorDiv {
    
}

/* Style the container to include relative positioning */
.search-container {
  position: relative;
  display: inline-block;
}

/* Style the search icon */
.search-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

table {
    table-layout:fixed;
}

th span {
  text-decoration-line: underline;
  cursor: pointer;
}

tr:nth-child(even) {
  /*background: #F2F2F2;*/
}

tr:nth-child(odd) {
    /*background: #FFF;*/
}

th, td {
    padding-left: 1rem;
    padding-right: 1rem;
}

table {
    margin: 0 auto;
}

body {
    width:auto;
}
